In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data['profit'] = data['revenue'] - data['budget']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
996,tt1077368,150000000,245527149,Dark Shadows,Johnny Depp|Michelle Pfeiffer|Helena Bonham Ca...,Tim Burton,Every Family Has Its Demons,Vampire Barnabas Collins is inadvertently free...,113,Comedy|Fantasy,Village Roadshow Pictures|Infinitum Nihil|GK F...,5/8/2012,5.6,2012
1126,tt0337741,80000000,266728738,Something's Gotta Give,Jack Nicholson|Diane Keaton|Keanu Reeves|Franc...,Nancy Meyers,Schmucks are people too.,Harry Sanborn is an aged music industry exec w...,128,Drama|Comedy|Romance,Columbia Pictures Corporation|Waverly Films|Wa...,12/12/2003,6.2,2003
1211,tt0848537,100000000,268426634,Epic,Josh Hutcherson|Amanda Seyfried|Colin Farrell|...,Chris Wedge,Discover a world beyond your imagination,A teenager finds herself transported to a deep...,102,Animation|Adventure|Family|Fantasy,Blue Sky Studios|Twentieth Century Fox Animation,5/15/2013,6.4,2013
1201,tt1272878,61000000,131940411,2 Guns,Denzel Washington|Mark Wahlberg|Paula Patton|B...,Baltasar KormÃ¡kur,"2 Guns, 1 Bank.",A DEA agent and an undercover Naval Intelligen...,109,Action|Crime|Drama|Comedy|Thriller,Universal Studios|Marc Platt Productions|Emmet...,8/2/2013,6.6,2013
126,tt1790864,34000000,348319861,The Maze Runner,Dylan O'Brien|Ki Hong Lee|Kaya Scodelario|Aml ...,Wes Ball,Run - Remember - Survive,"Set in a post-apocalyptic world, young Thomas ...",113,Action|Mystery|Science Fiction|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,9/10/2014,7.0,2014

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [4]:
data.describe()
# mean, runtime - средняя длительность фильнов.

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [5]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
# фильтруем датасет, оставляя фильмы с положительным профитом и считаем количество записей
data[data.profit > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [6]:
# 2 шага - вначале создаем новый датасет с фильмами за 2008 год, потом фильтруем его по макс значению
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [7]:
data_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [16]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

def row_mult(df, column_name, column_num, fun_column):
    # функция разбивает на несколько строк ту строку, где в искомой ячейки множество значений
    # количество новых строк = количеству значений в искомой ячейке, разбитых разделителем '|'.
    # не стал вводить разделитель в функцию, чтобы не усложнять.
    
    # df - изначальный датасет
    # column_name - название колонки в которой находятся нужные данные.
    # column_num - номер этой колонки для расчёта iloc.
    # fun_column - колонка для группировки данных.

    data_new = df.copy()
    data_new.drop(data_new.index, inplace=True) # создаем путой датасет, оставив только заголовок исходного дс
    count_list = 0 # переменная, для обращения к итерируемой в цикле строке

    for i in range(len(df.index)):

        count_list -= 1 # чтобы разбитие строки началось с нулевой строки

        for j in df[column_name].iloc[i].split('|'):

            data_new = data_new.append(df.iloc[i]) # добавляет итерируемую строку в пустую базу
            data_new.iloc[i+count_list+1,column_num] = j  # заменяет содержание ячейки на одно значение
            count_list += 1

    df_output = data_new.groupby([column_name])[fun_column].count().sort_values(ascending=False)
    return df_output.head(10)

print(row_mult(data, 'genres', 9,'genres'))

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
data_profitable = data[data.profit > 0] # только прибыльные фильмы

print(row_mult(data_profitable, 'genres', 9,'profit'))

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [57]:
data_director = data.groupby('director')['profit'].sum().sort_values(ascending=False)
data_director

director
Peter Jackson               5202593685
David Yates                 3379295625
Christopher Nolan           3162548502
J.J. Abrams                 2839169916
Michael Bay                 2760938960
                               ...
Walter Hill|Jack Sholder     -75171919
David Bowers|Sam Fell        -84540684
Peter Hyams                  -86956545
Ron Underwood                -92896027
James L. Brooks              -96289726
Name: profit, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [74]:
# предположил, основной жанр фильма тот, который в начале
data3 = data[data.genres.str.match("Action", na=False)]
data3
data_director1 = data3.groupby('director')['director'].count().sort_values(ascending=False)
data_director1

director
Robert Rodriguez      5
Tony Scott            5
Antoine Fuqua         5
Andrzej Bartkowiak    5
Zack Snyder           4
                     ..
Mabrouk El Mechri     1
Luke Greenfield       1
Luis Mandoki          1
Luc Besson            1
Adam McKay            1
Name: director, Length: 268, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [19]:
data_act = data[data.release_year == 2012]

def row_mult_sum(df, column_name, column_num, fun_column):
    # не смог передать аттрибуты sum() count() в функцию
    data_new = df.copy()
    data_new.drop(data_new.index, inplace=True) # создаем путой датасет, оставив только заголовок исходного дс
    count_list = 0 # переменная, для обращения к итерируемой в цикле строке

    for i in range(len(df.index)):

        count_list -= 1 # чтобы разбитие строки началось с нулевой строки

        for j in df[column_name].iloc[i].split('|'):

            data_new = data_new.append(df.iloc[i]) # добавляет итерируемую строку в пустую базу
            data_new.iloc[i+count_list+1,column_num] = j  # заменяет содержание ячейки на одно значение
            count_list += 1

    df_output = data_new.groupby([column_name])[fun_column].sum().sort_values(ascending=False)
    return df_output.head(10)

print(row_mult_sum(data_act,'cast',4,'profit'))

cast
Chris Hemsworth        1542450773
Denis Leary            1319460639
Chris Evans            1299557910
Mark Ruffalo           1299557910
Robert Downey Jr.      1299557910
Scarlett Johansson     1299557910
Anne Hathaway          1211851057
Sacha Baron Cohen      1097110577
Ralph Fiennes          1059561013
Seann William Scott     967234366
Name: profit, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [20]:
data_16 = data[data.budget > 50000000]

print(row_mult(data_16,'cast',4,'profit'))

cast
Matt Damon           19
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Johnny Depp          15
Jamie Foxx           15
Eddie Murphy         15
Samuel L. Jackson    15
Russell Crowe        14
Ben Stiller          14
Name: profit, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [21]:
data_17 = data[data.cast.str.contains('Nicolas Cage')] 
data_17

print(row_mult(data_16,'genres',9,'profit'))

genres
Action             332
Adventure          288
Comedy             222
Thriller           217
Drama              196
Family             159
Fantasy            158
Science Fiction    154
Animation          112
Crime               95
Name: profit, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [247]:
da18 = data[data.production_companies.str.contains('Paramount Pictures')]
da18[da18.profit == da18.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [250]:
da19 = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
da19

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [252]:
da19 = data[data.production_companies.str.contains('Warner Bros')]
da19.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
def month1(s):
    b = s.split('/')
    return b[0]

data['month'] = data.release_date.apply(month1)

da22 = data.groupby('month')['profit'].count().sort_values(ascending=False)
da22

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: profit, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
da22['6'] + da22['7'] + da22['8']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [290]:
def sea(s):

    b = ''
    if s == '12' or s == '1' or s == '2':
        b = 'winter'
    elif s == '3' or s == '4' or s == '5':
        b = 'spring'
    elif s == '6' or s == '7' or s == '8':
        b = 'summer'
    elif s == '9' or s == '10' or s == '11':
        b = 'autumn'
    
    return b
        

data['season'] = data.month.apply(sea)
da23 = data[data.season == 'winter']
da23.groupby('director')['budget'].count().sort_values(ascending = False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: budget, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [334]:
# вырезка из функци - создание дф поэлементно
data_new = data.copy()
data_new.drop(data_new.index, inplace=True)
count_list = 0

for i in range(len(data.index)):
    
    count_list -= 1
        
    for j in data['production_companies'].iloc[i].split('|'):
        
        data_new = data_new.append(data.iloc[i])
        data_new.iloc[i+count_list+1,10] = j  
        count_list += 1

In [336]:
def coun(s):
    return len(s)

data_new['name_len'] = data_new.original_title.apply(coun)

pivot = data_new.pivot_table(values=['name_len'],
index=['production_companies'],
columns=[],
aggfunc='mean',
margins=True)
pivot = pivot.sort_values('name_len', ascending=False)
pivot

                            name_len
production_companies
Four By Two Productions         83.0
Jim Henson Company, The         59.0
Dos Corazones                   47.0
Polsky Films                    46.0
Museum Canada Productions       46.0
...                              ...
Berlanti Productions             3.0
Everest Entertainment            3.0
Global Entertainment Group       2.0
XM2 Productions                  2.0
Ixtlan Productions               2.0

[1772 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [337]:
data_new['disc_len'] = data_new.overview.apply(coun)

pivot = data_new.pivot_table(values=['disc_len'],
index=['production_companies'],
columns=[],
aggfunc='mean',
margins=True)
pivot = pivot.sort_values('disc_len', ascending=False)
pivot

                                       disc_len
production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
...                                         ...
London Boulevard                           74.0
Projection Pictures                        74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0

[1772 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [51]:
# 1% нумерчески, т.е. 19 фильмно (1% от 1889 - общее количество фильмов)
data26 = data.sort_values('vote_average', ascending=False)
data26.head(16)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11

In [350]:
data26.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1889 entries, 599 to 709
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   object
 16  season                1889 non-null   object
 17  name_len              1889 non-null   int64
dtypes: float64(1), int64(6), object(11)
memory usage: 280.4+ KB

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
# нет идеи как сделать

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)